# NAME: 360 K7TS (T41NQ, GC4023, ETH, SPI-NAND)
# FRAG: soc-xburst2 core ssl flash-nand
BR2_ETHERNET=y
BR2_INGENIC_SOC_MODEL="t41nq"
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_360K7TS=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_I2C_ADAPTER="0"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_I2C_ADDR="0x29"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_MCLK="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_NAME="gc4023"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_PWDN_GPIO="19"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_RST_GPIO="18"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_VIDEO_INTERFACE="0"
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_JZ_SFC=n
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_SFC0_NAND=y
BR2_SENSOR_1_NAME="gc4023"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_AUDIO_GPIO=63
BR2_THINGINO_AUDIO_GPIO_LOW=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_FLASH_NAND=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_NMEM_MB=20
BR2_THINGINO_RMEM_MB=33
BR2_THINGINO_SDCARD=y
FLASH_SIZE_MB=128
