# NAME: A1 Smart NVR v1.2 (A1N, ETH)
# FRAG: soc-xburst2 toolchain-xburst2 ccache brand rootfs kernel system target uboot ssl
BR2_ETHERNET=y
BR2_SENSOR_DUMMY=y
BR2_SOC_INGENIC_A1N=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_A1_SMART_NVR=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_FSCK=y
BR2_PACKAGE_GO2RTC=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_LIGHTNVR=y
BR2_PACKAGE_SMARTMONTOOLS=y
BR2_PACKAGE_THINGINO_KOPT_USB_MASS_STORAGE=y
BR2_PACKAGE_THINGINO_SYSTEM_SWAP=y
BR2_PACKAGE_THINGINO_UBOOT_FORMAT_CUSTOM_NAME="u-boot-lzma-with-spl.bin"
#BR2_THINGINO_AUDIO=y
BR2_THINGINO_DEV_NVR=y
BR2_THINGINO_RMEM_0=y
FLASH_NOR=y
FLASH_SIZE_16=y
