# NAME: A1 Smart NVR v1.2 (A1N, ETH)
# MODULE: a1n_eth
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_FSCK=y
BR2_PACKAGE_LIGHTNVR=y
BR2_PACKAGE_GO2RTC=y
BR2_PACKAGE_THINGINO_UBOOT_FORMAT_CUSTOM_NAME="u-boot-lzma-with-spl.bin"
BR2_THINGINO_DEVICE_TYPE_NVR=y
BR2_THINGINO_RMEM_0=y
FLASH_NOR=y
FLASH_SIZE_16=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_A1_SMART_NVR=y
