# NAME: T41NQ
# FRAG: soc-xburst2 core ssl
BR2_ETHERNET=y
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_JZ_SFC=n
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_SFC0_NOR=y
BR2_SENSOR_1_NAME="gc5603"
BR2_INGENIC_SOC_MODEL="t41nq"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_NMEM_MB=8
BR2_THINGINO_RMEM_MB=46
FLASH_SIZE_MB=16
BR2_AVPU_CLK_550MHZ=y
BR2_AVPU_SCLKA=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_UNKNOWNT41NQ=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8733BU=y
BR2_PACKAGE_NINO=y
BR2_PACKAGE_THINGINO_ONVIF=y
BR2_PACKAGE_LIBAUDIOPROCESS_NEO=y
BR2_PACKAGE_THINGINO_BUTTON=y
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_THINGINO_RAPTOR_MP3=y
BR2_PACKAGE_THINGINO_DEVSCRIPTS=y
BR2_PACKAGE_THINGINO_DIAG=y
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_NAME="gc5603"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_I2C_ADDR="0x31"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_RST_GPIO="18"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_PWDN_GPIO="-1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_MCLK="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_VIDEO_INTERFACE="0"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_FPS="30"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_FPS="30"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_WIDTH="2880"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_HEIGHT="1620"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_BITRATE="3000000"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_OSD_ENABLED="false"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_FPS="30"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_WIDTH="1280"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_HEIGHT="720"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_BITRATE="768000"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_OSD_ENABLED="false"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_AUDIO_CODEC="aac"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_AUDIO_GAIN="32"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_AUDIO_VOLUME="92"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_AUDIO_AO_ENABLED="true"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_IRCUT_DAY_THRESHOLD="390000"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_IRCUT_NIGHT_THRESHOLD="490000"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_IRCUT_TRIGGER="gain"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_IRCUT_MODE="day"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_LOG_LEVEL="info"
