# NAME: O-KAM QC3 (T23N, GC2083, AIC8800 USB)
# MODULE: t23n_gc2083_aic8800usb
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_SDCARD=y
# NB! needs larger flash size due to WiFi firmware
FLASH_SIZE_16=y
