# NAME: WJ01 (T31L, JXH62, RTL8188FTV)
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8188FU=y
BR2_SENSOR_JXH62=y
BR2_SOC_INGENIC_T31L=y
BR2_THINGINO_AUDIO=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_RMEM_22=y
BR2_THINGINO_SDCARD=y
BR2_SENSOR_PARAMS="data_interface=1"
FLASH_SIZE_8=y
