# NAME: QEMU T30X (virtual WiFi)
# FRAG: soc-xburst1 core
BR2_INGENIC_SOC_MODEL="t30x"
BR2_SENSOR_1_NAME="sc4236"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_RMEM_MB=20
BR2_PACKAGE_HOST_QEMU_INGENIC=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V13=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_HWSIM=y
FLASH_SIZE_MB=16
