# NAME: Jooan W8-U (T23N, SC2336P, ATBM6132U)
# FRAG: soc-xburst1 core ssl
BR2_INGENIC_SOC_MODEL="t23n"
BR2_ISP_CLK_200MHZ=y
BR2_ISP_DIRECT_MODE_0=y
BR2_ISP_MEMOPT_0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_RAPTOR_CONF_OSD_ISP_OSD_TRUE=y
BR2_PACKAGE_THINGINO_RAPTOR_CONF_RTSP_ENDPOINT_S1_MAIN="ch2"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_RTSP_ENDPOINT_S1_SUB="ch3"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S0_FPS="15"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S1_FPS="15"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_I2C_ADDR="0x30"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_NAME="sc2336p"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_I2C_ADDR="0x32"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_NAME="sc2336ps1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_FPS="15"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_FPS="15"
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6132U=y
BR2_SENSOR_1_NAME="sc2336ps0"
BR2_SENSOR_2_NAME="sc2336ps1"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_AUDIO_GPIO=63
BR2_THINGINO_AUDIO_GPIO_LOW=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_IMAGE_SENSOR_QTY=2
BR2_THINGINO_MOTORS=y
BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_RMEM_MB=34
BR2_THINGINO_SDCARD=y
FLASH_SIZE_MB=8
