.idea
/.board
/.bootstrapped
/buildroot-*/
/.gitconfig
/local.fragment
/local.mk
/local.uenv.txt
/overlay/upper
/package/thingino-webui/files/var/www/onvif/*_files/
/package/thingino-webui/files/var/www/onvif/*_service
/.prereqs.done
/sdk/
/.settings/
/tmp/
/toolchain/
/.vscode
