/.board
/.bootstrapped
/.gitconfig
/.idea
/.prereqs.done
/.settings/
/.vscode
/build.log
/buildroot-*/
/configs/local.*
/local.mk
/overlay/upper
/package/thingino-webui/files/var/www/onvif/*_files/
/package/thingino-webui/files/var/www/onvif/*_service
/sdk/
/tmp/
/toolchain/
