/.idea
/.board
/.bootstrapped
/.gitconfig
/.idea
/.prereqs.done
/.settings/
/.vscode
/build.log
/buildroot-*/
/buildroot-dl-cache\.zip*
/configs/local.*
/local.mk
/output*/
/overlay/upper
/package/thingino-webui/files/var/www/onvif/*_files/
/package/thingino-webui/files/var/www/onvif/*_service
/package-repos/
/sdk/
/tmp/
/toolchain/
/build.log
*.swp
