# NAME: Eufy T8416 (T40XP, SC830, AIC8800D40)
# FRAG: soc-xburst2 core ssl
BR2_INGENIC_SOC_MODEL="t40xp"
BR2_AVPU_MPLL=y
BR2_AVPU_CLK_600MHZ=y
BR2_ISP_CLK_300MHZ=y
BR2_SENSOR_1_NAME="sc830ai"
BR2_SENSOR_2_NAME="sc3338"
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_AIC8800=y
BR2_PACKAGE_WIFI_AIC8800_SDIO=y
BR2_PACKAGE_WIFI_AIC8800_SDIO_8800D80=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_IMAGE_SENSOR_QTY=2
BR2_THINGINO_RMEM_MB=134
BR2_THINGINO_NMEM_MB=22
BR2_THINGINO_SDCARD=y
BR2_THINGINO_AUDIO=y
#BR2_THINGINO_MOTORS=y
FLASH_SIZE_MB=16
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_EUFYT8416=y
BR2_PACKAGE_USBNET=y
BR2_PACKAGE_USBNET_ASIX=y
