# NAME: Eufy T8416 (T40XP, SC830, AIC8800D40)
# FRAG: soc-xburst2 core
BR2_AVPU_CLK_600MHZ=y
BR2_AVPU_MPLL=y
BR2_INGENIC_SOC_MODEL="t40xp"
BR2_ISP_CLK_300MHZ=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S0_FPS="20"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S0_HEIGHT="1296"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S0_NR_VBS="3"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S0_WIDTH="2304"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S1_FPS="20"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_S1S1_NR_VBS="3"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_BOOT="4"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_HEIGHT="2160"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_I2C_ADAPTER="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_I2C_ADDR="0x30"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_MCLK="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_NAME="sc830ai"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_PWDN_GPIO="-1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_RST_GPIO="91"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_VIDEO_INTERFACE="0"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR0_WIDTH="3840"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_BOOT="0"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_FPS="20"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_HEIGHT="1296"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_I2C_ADAPTER="3"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_I2C_ADDR="0x32"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_MCLK="2"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_NAME="sc3338"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_PWDN_GPIO="-1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_RST_GPIO="92"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_VIDEO_INTERFACE="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR1_WIDTH="2304"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_FPS="20"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM0_NR_VBS="3"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_FPS="20"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_STREAM1_NR_VBS="3"
BR2_PACKAGE_USBNET=y
BR2_PACKAGE_USBNET_ASIX=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_AIC8800=y
BR2_PACKAGE_WIFI_AIC8800_SDIO=y
BR2_PACKAGE_WIFI_AIC8800_SDIO_8800D80=y
BR2_SENSOR_1_NAME="sc830ai"
BR2_SENSOR_2_NAME="sc3338"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_IMAGE_SENSOR_QTY=2
BR2_THINGINO_LED_B_GPIO=46
BR2_THINGINO_LED_R_GPIO=65
BR2_THINGINO_MOTORS=y
BR2_THINGINO_NMEM_MB=22
BR2_THINGINO_RMEM_MB=170
BR2_THINGINO_SDCARD=y
FLASH_SIZE_MB=32
