# NAME: QEMU A1N (virtual WiFi)
# FRAG: soc-xburst2 core
BR2_INGENIC_SOC_MODEL="a1n"
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_THINGINO_DEV_NVR=y
BR2_PACKAGE_THINGINO_STREAMER_NONE=y
BR2_PACKAGE_HOST_QEMU_INGENIC=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_HWSIM=y
FLASH_SIZE_MB=16
