# NAME: QEMU T41NQ (virtual WiFi)
# FRAG: soc-xburst2 core
BR2_INGENIC_SOC_MODEL="t41nq"
BR2_ETHERNET=y
BR2_SENSOR_1_NAME="gc4023"
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_THINGINO_RMEM_MB=64
BR2_PACKAGE_HOST_QEMU_INGENIC=y
BR2_THINGINO_SDCARD=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_HWSIM=y
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_SFC0_NOR=y
FLASH_SIZE_MB=16

