# NAME: Vanhua T55A (T41LQ, GC5603, ETH)
# FRAG: soc-xburst2 toolchain-xburst2 ccache brand rootfs kernel system target uboot ssl
BR2_ETHERNET=y
BR2_SENSOR_GC5603=y
BR2_SOC_INGENIC_T41LQ=y
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_JZ_SFC=n
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_SFC0_NOR=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_RMEM_22=y
BR2_THINGINO_NMEM_8=y
FLASH_SIZE_16=y
