# NAME: QEMU T40NN (virtual WiFi)
# FRAG: soc-xburst2 core
BR2_ETHERNET=y
BR2_INGENIC_SOC_MODEL="t40n"
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_SENSOR_1_NAME="imx307"
BR2_PACKAGE_HOST_QEMU_INGENIC=y
BR2_THINGINO_RMEM_MB=64
BR2_THINGINO_SDCARD=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_HWSIM=y
FLASH_SIZE_MB=16
