# NAME: Vanhua S62I (T40NN, IMX307, ETH)
# FRAG: soc-xburst2 toolchain-xburst2 ccache brand rootfs kernel system target uboot ssl
BR2_ETHERNET=y
BR2_SENSOR_IMX307=y
BR2_SOC_INGENIC_T40NN=y
BR2_THINGINO_RMEM_64=y
FLASH_SIZE_16=y
