# NAME: O-KAM QC3 (T23DL, GC1084, AIC8800DC USB)
# FRAG: soc-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_THINGINO_TOOLCHAIN_TYPE_EXTERNAL=y
BR2_THINGINO_TOOLCHAIN_GCC_15=y
BR2_THINGINO_TOOLCHAIN_LIBC_MUSL=y
BR2_ISP_CLKA_600MHZ=y
BR2_ISP_CLKA_SCLKA=y
BR2_ISP_CLK_200MHZ=y
BR2_ISP_CLK_SCLKA=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_AIC8800=y
BR2_PACKAGE_WIFI_AIC8800_USB=y
BR2_PACKAGE_WIFI_AIC8800_USB_8800DC=y
BR2_SENSOR_1_NAME="gc1084"
BR2_INGENIC_SOC_MODEL="t23dl"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_AUDIO_GPIO=63
BR2_THINGINO_BUTTON=y
BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_RMEM_MB=10
BR2_THINGINO_SDCARD=y
FLASH_SIZE_MB=8

# tx-isp-t23.ko isp_memopt=1 direct_mode=1 isp_clk=200000000 isp_clka=600000000 ivdc_mem_line=300
# sensor_gc1084_t23.ko shvflip=1
# day2night=60000 night2day=4100 gblimit=54 dayevcomp=3000 nightevcomp=0 gbmaxvalid=220 gbcomp=41
# voice input config sample_rate:16000 bits:16 channel:1
# voice output config sample_rate:16000 bits:16 channel:1
# hpf: 1, co_frequency: 400, ns: 1, agc: 1, agc_ns: 2, agc_db_fs: 5, agc_gain_db: 15, hs: 1
# mirror:1, flip:1
# vp_wifi_aic8800.c:0123 [vp_wifi_insmod_driver]:*** insmod /addfs/wifi/aic_load_fw.ko aic_fw_path="/addfs/wifi" ***
# vp_wifi_aic8800.c:0127 [vp_wifi_insmod_driver]:*** insmod /addfs/wifi/aic8800_fdrv.ko ***
