# NAME: Galayou G2 (T31LC, SC2336, ATBM6012BX)
# FRAG: soc-xburst1 core
BR2_INGENIC_SOC_MODEL="t31lc"
BR2_ISP_CH0_PRE_DEQUEUE_INTERRUPT_PROCESS=y
BR2_ISP_CH0_PRE_DEQUEUE_INTERRUPT_PROCESS_VALUE=0
BR2_ISP_CH0_PRE_DEQUEUE_TIME=y
BR2_ISP_CH0_PRE_DEQUEUE_TIME_VALUE=20
BR2_ISP_CH0_PRE_DEQUEUE_VALID_LINES=y
BR2_ISP_CH0_PRE_DEQUEUE_VALID_LINES_VALUE=540
BR2_ISP_CLK_220MHZ=y
BR2_ISP_DAY_NIGHT_SWITCH_DROP_FRAME_NUM=y
BR2_ISP_DAY_NIGHT_SWITCH_DROP_FRAME_NUM_VALUE=6
BR2_PACKAGE_THINGINO_KOPT=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_1BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6012BX=y
BR2_SENSOR_1_NAME="sc2336"
BR2_SENSOR_1_PARAMS="shvflip=1"
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-with-spl-lzma.bin"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_LED_B_ACTIVE_LOW=y
BR2_THINGINO_LED_B_GPIO=9
BR2_THINGINO_MOTORS=y
BR2_THINGINO_RMEM_MB=23
BR2_THINGINO_SDCARD=y
BR2_WIFI_PARAMS="wifi_bt_comb=1"
BR2_PACKAGE_THINGINO_SECUREBOOP=y
BR2_PACKAGE_THINGINO_SECUREBOOP_T31_MODULUS="5e900acb9022ff08e67210b47c13eeecfbd637fee361e0972a75f696a643a5d0bce1829ac847f60c7dae4e2bef9081e3e61b93295637b3cdd3408a6f6f0218bd167d3a9b9f50914c32593d0ce12ecd318e4e025fa0af0f15371dd8a6dd7158a93de613176bdfa5c388c40cd48af9ac4de75c976e08ed920de38baa0aa3aa16e08c8d1a5849acfd660bfc3ae5c314f3478de36068bd7a361002664dd100e579940e437b987f594f7a3a6451e936317d4a4c10eec2d3d630bae510522a23b101ade75c1bcf5e1fa0b4bc0bc059e647db85c0a842b3dee7f8de751e58425ee73a1ddb242710714d3459809ea23be5fc49e53b3b451bf257fe00bc46e2fbbda8f553"
FLASH_SIZE_MB=8
