# NAME: Galayou G2 (T31LC, SC2336, ATBM6012BX)
# MODULE: t31lc_sc2336_atbm6012bx
BR2_ISP_CLK_220MHZ=y
BR2_ISP_PARAMS="isp_ch0_pre_dequeue_time=20 isp_ch0_pre_dequeue_interrupt_process=0 isp_ch0_pre_dequeue_valid_lines=540 isp_day_night_switch_drop_frame_num=6"
BR2_PACKAGE_THINGINO_KOPT=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_1BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC=y
BR2_SENSOR_PARAMS="shvflip=1"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_DEVICE_TYPE_IPCAM=y
BR2_THINGINO_DEVICE_TYPE_IPCAM_PAN_TILT=y
BR2_THINGINO_MOTORS_TCU=y
BR2_THINGINO_RMEM_23=y
BR2_THINGINO_SDCARD=y
BR2_WIFI_PARAMS="wifi_bt_comb=1"
FLASH_SIZE_8=y
