# NAME: C100, GC2063, BCMDHD_AP6214A
# FRAG: soc toolchain-glibc ccache brand rootfs kernel system target uboot
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_BCMDHD_AP6214A=y
BR2_SENSOR_GC2053=y
BR2_SOC_INGENIC_C100=y
