# NAME: T23N, SC333wP, WS73V100
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_WS73V100=y
BR2_PACKAGE_WIFI_WS73V100_USB=y
BR2_SENSOR_SC3332P=y
BR2_SOC_INGENIC_T23N=y
