# NAME: T23N, SC1A4T, SSV6355
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_SSV6X5X=y
BR2_PACKAGE_WIFI_SSV6X5X_SV6355=y
BR2_SENSOR_SC1A4T=y
BR2_SOC_INGENIC_T23N=y
