# NAME: T23N, SC2336P+SC2336PS1, ATBM6132U
# FRAG: soc toolchain ccache brand rootfs kernel system target uboot
BR2_SOC_INGENIC_T23N=y
BR2_THINGINO_IMAGE_SENSOR_QTY_2=y
BR2_SENSOR_1_SC2336PS0=y
BR2_SENSOR_2_SC2336PS1=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6132U=y
