# NAME: T23N, SC2336P, WQ9001
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot
BR2_SOC_INGENIC_T23N=y
BR2_SENSOR_SC2336P=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_WQ9001=y
