# NAME: T30X, SC4236, ETH
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot
BR2_ETHERNET=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V12=y
BR2_SENSOR_SC4236=y
BR2_SOC_INGENIC_T30X=y
