# NAME: T31LC, GC1084, HI3881
# FRAG: soc-xburst1 toolchain ccache brand rootfs kernel system target uboot
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_HI3881=y
BR2_SENSOR_GC1084=y
BR2_SOC_INGENIC_T31LC=y
BR2_PACKAGE_THINGINO_UBOOT_FORMAT_CUSTOM_NAME="u-boot-with-spl.bin"
