# NAME: T31L, SC2336, SV6256P
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_SENSOR_SC2336=y
BR2_SOC_INGENIC_T31L=y
BR2_PACKAGE_WIFI_SSV6X5X=y
BR2_PACKAGE_WIFI_SSV6X5X_SV6256P=y
