# NAME: T31L, SC2336, ATBM6012BX
# FRAG: soc-xburst1 toolchain ccache brand rootfs kernel system target uboot
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6012BX=y
BR2_SENSOR_SC2336=y
BR2_SOC_INGENIC_T31L=y
