# FRAG: soc toolchain ccache brand rootfs kernel system target local
BR2_SOC_INGENIC_T31L=y
BR2_SENSOR_MODEL="sc2336"
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6031=y
CONFIG_KERNEL_VERSION_4=y
KERNEL_VERSION_4=y
BR2_KERNEL_VERSION_4=y
