# NAME: T31N, GC2053, SSV6155
# FRAG: soc-xburst1 toolchain ccache brand rootfs kernel system target uboot
#Ethernet functionality TBD
BR2_ETHERNET=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V13=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_CLK_25MHZ=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_SSV6X5X=y
BR2_PACKAGE_WIFI_SSV6X5X_SV6155P=y
BR2_SENSOR_GC2053=y
BR2_SOC_INGENIC_T31N=y
