# NAME: T31X, SC5235, ETH, RTL8731BU
# FRAG: soc-xburst1 toolchain ccache brand rootfs kernel system target uboot
BR2_ETHERNET=y
BR2_SENSOR_SC5235=y
BR2_SOC_INGENIC_T31X=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8733BU=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V13=y
