# NAME: T31X, SC3338, ATBM6031X
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6031X=y
BR2_SENSOR_SC3338=y
BR2_SOC_INGENIC_T31X=y
