# NAME: LSC 3215672 (T23N, SC2331, ATBM6012BX)
# MODULE: t23n_sc2331_atbm6012bx
BR2_THINGINO_RMEM_18=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_8=y
