# NAME: TP-Link Tapo TC70 (T31L, SC2336, RTL8188FTV)
# MODULE: t31l_sc2336_rtl8188ftv
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_RMEM_22=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_8=y
