# NAME: Vanhua Z66SI (T41NQ, GC4023, ETH)
# MODULE: t41nq_gc4023_eth
BR2_AVPU_APLL=y
BR2_AVPU_CLK_550MHZ=y
BR2_ISP_CLK_VPLL=y
BR2_ISP_CLK_300MHZ=y
BR2_ISP_CLKS_SCLKA=y
BR2_ISP_CLKS_550MHZ=y
BR2_ISP_CLKA_SCLKA=y
BR2_ISP_CLKA_550MHZ=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_RMEM_46=y
BR2_THINGINO_NMEM_8=y
FLASH_SIZE_16=y
