# NAME: Noorio T110 (T41NQ, GC4023, AIC8800D)
# MODULE: t41nq_gc4023_aic8800d
BR2_THINGINO_AUDIO=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_DEVICE_TYPE_IPCAM=y
BR2_THINGINO_DEVICE_TYPE_IPCAM_PAN_TILT=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_SDCARD=y
BR2_THINGINO_BUTTON=y
FLASH_SIZE_32=y
