# NAME: Xiaomi MJSXJ03HL (T31N, JXQ03P, RTL8189FTV) with Kernel 4.x
# MODULE: t31n_jxq03p_rtl8189ftv
FLASH_SIZE_16=y
KERNEL_VERSION_4=y
BR2_THINGINO_DEVICE_TYPE_IPCAM=y
BR2_THINGINO_DEVICE_TYPE_IPCAM_STANDARD=y
