# NAME: Cinnado D1 T31L (T31L, SC2336, ATBM6031) with Kernel 4.4
# MODULE: t31l_sc2336_atbm6031
#BR2_KERNEL_VERSION_4=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_DEVICE_TYPE_IPCAM=y
BR2_THINGINO_DEVICE_TYPE_IPCAM_PAN_TILT=y
BR2_THINGINO_MOTORS_TCU=y
BR2_THINGINO_SDCARD=y
#CONFIG_KERNEL_VERSION_4=y
FLASH_SIZE_8=y
KERNEL_VERSION_4=y
