# OpenIPC Buildroot for Wyze V3 (Ingenic T31X)

# OpenIPC
BR2_OPENIPC_SOC_VENDOR="ingenic"
BR2_OPENIPC_SOC_FAMILY="t31"
BR2_OPENIPC_SOC_MODEL="t31x"
BR2_OPENIPC_SENSOR_MODEL="gc2053"
BR2_OPENIPC_FLASH_SIZE_16M=y
BR2_OPENIPC_FLAVOR_ULTIMATE=y

# Architecture
BR2_mipsel=y
BR2_mips_xburst=y
# BR2_MIPS_SOFT_FLOAT is not set
BR2_MIPS_FP32_MODE_32=y
# BR2_MIPS_FP32_MODE_XX is not set
BR2_MIPS_NAN_LEGACY=y
BR2_MIPS_OABI32=y

# BR2_TOOLCHAIN_BUILDROOT is not set
BR2_TOOLCHAIN_EXTERNAL=y

#
# Toolchain
#
BR2_TOOLCHAIN=y
BR2_TOOLCHAIN_USES_MUSL=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="openipc"
BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_TOOLCHAIN_BUILDROOT_LIBC="musl"
BR2_TOOLCHAIN_BUILDROOT_CXX=y

#
# Kernel Header Options
#
BR2_KERNEL_HEADERS_AS_KERNEL=y
# BR2_KERNEL_HEADERS_VERSION is not set
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_3_10=y
BR2_PACKAGE_LINUX_HEADERS=y
BR2_PACKAGE_MUSL_ARCH_SUPPORTS=y
BR2_PACKAGE_MUSL_SUPPORTS=y
BR2_PACKAGE_MUSL=y
BR2_PACKAGE_UCLIBC_ARCH_SUPPORTS=y
BR2_PACKAGE_UCLIBC_SUPPORTS=y
BR2_PACKAGE_GLIBC_ARCH_SUPPORTS=y
BR2_PACKAGE_GLIBC_SUPPORTS=y

#
# Binutils Options
#
BR2_PACKAGE_HOST_BINUTILS_SUPPORTS_CFI=y
BR2_BINUTILS_VERSION_2_39_X=y
BR2_BINUTILS_VERSION="2.39"
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS=""

#
# GCC Options
#
BR2_PACKAGE_HOST_GDB_ARCH_SUPPORTS=y
BR2_GCC_VERSION_12_X=y
BR2_GCC_VERSION="12.2.0"
BR2_EXTRA_GCC_CONFIG_OPTIONS="--with-float=hard"

#
# Host GDB Options
#
# BR2_PACKAGE_HOST_GDB is not set

BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/toolchains/themactep/mipsel-openipc-linux-musl_sdk-buildroot"
BR2_TOOLCHAIN_EXTERNAL_MUSL=y
# BR2_PACKAGE_HAS_TOOLCHAIN_EXTERNAL=y
# BR2_PACKAGE_PROVIDES_TOOLCHAIN_EXTERNAL="toolchain-external-custom"
BR2_TOOLCHAIN_EXTERNAL_PREFIX="$(ARCH)-linux"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-linux"
BR2_TOOLCHAIN_EXTERNAL_GCC_12=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_10=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_MUSL=y
BR2_TOOLCHAIN_EXTERNAL_HAS_SSP=y
BR2_TOOLCHAIN_EXTERNAL_HAS_SSP_STRONG=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y

BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_INGENIC_PATH)/../general/package/all-patches"
BR2_PER_PACKAGE_DIRECTORIES=y

BR2_TARGET_GENERIC_HOSTNAME="wyze-v3"
BR2_TARGET_GENERIC_ISSUE="Welcome to OpenIPC"
# BR2_TARGET_TZ_INFO is not set
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_INGENIC_PATH)/../general/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL_INGENIC_PATH)/../scripts/executing_commands_for_musl.sh"

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="3.10.14"
BR2_LINUX_KERNEL_VERSION="3.10.14"
BR2_LINUX_KERNEL_PATCH=""
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_INGENIC_PATH)/board/t31/kernel/t31_wyzev3.config"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES=""
BR2_LINUX_KERNEL_CUSTOM_LOGO_PATH=""
BR2_LINUX_KERNEL_UIMAGE=y
BR2_LINUX_KERNEL_LZMA=y

#
# Linux Kernel Extensions
#
BR2_LINUX_KERNEL_EXT_INGENIC_PATCHER=y
BR2_LINUX_KERNEL_EXT_INGENIC_PATCHER_LIST="$(BR2_EXTERNAL_INGENIC_PATH)/board/t31/kernel/patches $(BR2_EXTERNAL_INGENIC_PATH)/board/t31/kernel/overlay"

#
# Target packages
#
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL_INGENIC_PATH)/../general/package/busybox/busybox.config"
# BR2_PACKAGE_LAME is not set
# BR2_PACKAGE_GDB is not set
# BR2_PACKAGE_LINUX_FIRMWARE is not set
# BR2_PACKAGE_RTL8188EU is not set
BR2_PACKAGE_RTL8189FS=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_HASERL=y
# BR2_PACKAGE_FDK_AAC is not set
# BR2_PACKAGE_OPUS is not set
# BR2_PACKAGE_OPUS_FIXED_POINT is not set
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_MBEDTLS=y
BR2_PACKAGE_MBEDTLS_DTLS_SRTP=y
BR2_PACKAGE_JSON_C=y
BR2_PACKAGE_LIBYAML=y
BR2_PACKAGE_LIBOGG=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_LIBCURL_CURL=y
BR2_PACKAGE_LIBCURL_MBEDTLS=y
BR2_PACKAGE_LIBCURL_EXTRA_PROTOCOLS_FEATURES=y
BR2_PACKAGE_LIBWEBSOCKETS=y
BR2_PACKAGE_DROPBEAR=y
# BR2_PACKAGE_MINI_SNMPD is not set
BR2_PACKAGE_MOSQUITTO=y
# BR2_PACKAGE_MOSQUITTO_BROKER is not set
# BR2_PACKAGE_SSHPASS is not set
# BR2_PACKAGE_UACME is not set
# BR2_PACKAGE_WIREGUARD_LINUX_COMPAT is not set
# BR2_PACKAGE_WIREGUARD_TOOLS is not set

# WiFi
BR2_PACKAGE_WIRELESS_TOOLS=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y
# BR2_PACKAGE_WPA_SUPPLICANT_WEXT is not set
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y

# Filesystem
# BR2_TARGET_ROOTFS_CPIO is not set
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y

# OpenIPC packages
BR2_PACKAGE_INGENIC_OSDRV_T31=y
BR2_PACKAGE_INGENIC_PATCHER=y
BR2_PACKAGE_IPCTOOL=y
BR2_PACKAGE_JSONFILTER=y
BR2_PACKAGE_LIBEVENT_OPENIPC=y
LIBEVENT_OPENIPC_REMOVE_PYSCRIPT=y
BR2_PACKAGE_MAJESTIC_FONTS=y
BR2_PACKAGE_MAJESTIC=y
BR2_PACKAGE_MICROBE_WEB=y
# BR2_PACKAGE_MOTORS is not set
# BR2_PACKAGE_NABTO is not set
# BR2_PACKAGE_QUIRC_OPENIPC is not set
# BR2_PACKAGE_VTUND_OPENIPC is not set
# BR2_PACKAGE_WIREGUARD_LINUX_COMPAT_OPENIPC is not set
BR2_PACKAGE_YAML_CLI=y
# BR2_PACKAGE_ZEROTIER_ONE ius not set
