# NAME: Wyze Cam Pan v3 MMC Boot (T31X, GC2053, ATBM6031)
# FRAG: soc-xburst1 core
BR2_AVPU_CLK_600MHZ=y
BR2_ISP_CLK_200MHZ=y
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_BOOT=y
BR2_PACKAGE_THINGINO_KOPT_MMC1=y
BR2_PACKAGE_THINGINO_KOPT_MMC1_PB_4BIT=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6031=y
BR2_PACKAGE_WYZE_ACCESSORY=y
BR2_PACKAGE_WYZE_ACCESSORY_CAR=y
BR2_PACKAGE_WYZE_ACCESSORY_SPOTLIGHT=y
BR2_SENSOR_1_NAME="gc2053"
BR2_SENSOR_1_PARAMS="sensor_max_fps=30 data_interface=1"
BR2_INGENIC_SOC_MODEL="t31x"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_SDCARD=y
BR2_PACKAGE_THINGINO_SECUREBOOP=y
BR2_PACKAGE_THINGINO_SECUREBOOP_T31_MODULUS="015bf2d1ea7b7a59202c595d1016f81ca50f67ee8fcaac5bc5d1f424cd1f58488ef1fb7c16a04bd1c42a4beaa5acf2ddd5843381f96f20dcce06726355eae4e8cbf0f2207143c4de49ddef989fa10c2ceb07904fa0cfbd44a7ec52e2e244d8fcadcc5e04fb37a90edc482e29c0175a6395c9390beed1e4c001732720d3e870b3c12d37088b6efeeae8ad37b7420055057acdad58e46eb1de18ef533a22e16b0c60d2ccc3d01c6ea1551887973e01a75d5e6d6fb5e0702d384a0b916e7e246174c3cd769b4b89e4873a0afac7e99642fefc9d1d859d07581bca736e0132cdaf6db1e5706fd8297abb982353de02a173c075c605090a9715817520d0bd212703a7"
BR2_TARGET_UBOOT_BOARDNAME="isvp_t31x_msc0"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="isvp_t31x_msc0"
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-with-tpl-mmc-lzma.bin"
BR2_PACKAGE_THINGINO_UBOOT_ROOT="/dev/mmcblk0p2"
BR2_PACKAGE_THINGINO_UBOOT_ROOTFSTYPE="ext4"
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="64M"
BR2_TARGET_ROOTFS_EXT2_MKFS_OPTIONS="-O ^metadata_csum,^64bit"
FLASH_SIZE_MB=16
