# NAME: Wyze Cam v3 Pro (T40XP, GC4653, RTL8192FS)
# FRAG: soc-xburst2 toolchain-xburst2 ccache brand rootfs kernel system target uboot ssl
BR2_ETHERNET=y
BR2_SENSOR_GC4653=y
BR2_SOC_INGENIC_T40XP=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8192FS=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_128=y
FLASH_NAND=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_WYZEC3P=y
BR2_ISP_CLK_200MHZ=y
BR2_AVPU_CLK_400MHZ=y
BR2_AVPU_VPLL=y
