# NAME: Wyze Cam v3 Pro (T40XP, GC4653, RTL8192FS)
# FRAG: soc-xburst2 core ssl flash-nand
BR2_AVPU_CLK_400MHZ=y
BR2_AVPU_VPLL=y
BR2_ETHERNET=y
BR2_ISP_CLK_200MHZ=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_WYZEC3P=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8192FS=y
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_NAME="gc4653"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_I2C_ADDR="0x29"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_I2C_ADAPTER="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_RST_GPIO="91"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_MCLK="1"
BR2_PACKAGE_THINGINO_RAPTOR_CONF_SENSOR_VIDEO_INTERFACE="0"
BR2_SENSOR_1_NAME="gc4653"
BR2_INGENIC_SOC_MODEL="t40xp"
BR2_THINGINO_RMEM_MB=128
BR2_THINGINO_NMEM_MB=28
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_SDCARD=y
BR2_THINGINO_FLASH_NAND=y
FLASH_SIZE_MB=128
