# NAME: T20X, JXF22, RTL8189ETV
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8189ES=y
BR2_SENSOR_JXF22=y
BR2_SOC_INGENIC_T20X=y
