# NAME: T23N, SC1346, ATBM6132U
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6132U=y
BR2_SENSOR_SC1346=y
BR2_SOC_INGENIC_T23N=y
