# NAME: Ingenic K3 100 EVB (C100, GC2053, SYN4343)
# MODULE: c100_gc2053_syn4343
BR2_AVPU_CLK_600MHZ=y
BR2_ISP_CLK_200MHZ=y
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC1=y
BR2_PACKAGE_THINGINO_KOPT_MMC1_PB_4BIT=y
BR2_PACKAGE_THINGINO_UBOOT_BOARDNAME="isvp_c100_sfcnor_msc1"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_AUDIO_DMIC=y
BR2_THINGINO_RMEM_64=y
FLASH_SIZE_16=y
#BR2_PACKAGE_USBNET=y
#BR2_PACKAGE_USBNET_USB_DIRECT_NCM=y
#BR2_PACKAGE_THINGINO_KOPT_DMIC=y
KERNEL_VERSION_4=y
