# NAME: Noname Green (T10, OV9712, AP6181)
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_SYN4343=y
BR2_SENSOR_OV9712=y
BR2_SOC_INGENIC_T10L=y
BR2_PACKAGE_GADGET_SERIAL=y
BR2_PACKAGE_THINGINO_KOPT=y
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC1=y
BR2_PACKAGE_THINGINO_KOPT_MMC1_PC_4BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC=y
BR2_SENSOR_PARAMS="pwdn_gpio=21"
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
