# NAME: QEMU T23N (virtual WiFi)
# FRAG: soc-xburst1 core
BR2_INGENIC_SOC_MODEL="t23n"
BR2_SENSOR_1_NAME="sc2336"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_RMEM_MB=20
BR2_PACKAGE_HOST_QEMU_INGENIC=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_HWSIM=y
FLASH_SIZE_MB=16
