# NAME: Wansview W5 (T21N, PS5260, ETH, MT7601STA)
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_MT7601U=y
BR2_SENSOR_PS5260=y
BR2_SOC_INGENIC_T21N=y
BR2_ETHERNET=y
BR2_ISP_CLK_125MHZ=y
BR2_PACKAGE_THINGINO_KOPT_ADC=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_INTERNAL_PHY=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V13=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_RMEM_22=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
