# NAME: Overtech OV59WB (T31N, SC223A, RTL8188FTV)
# MODULE: t31n_sc223a_rtl8188ftv
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
