# NAME: Sonoff CAM-PT2 (T23N, SC2336P, ATBM6012BX)
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6012BX=y
BR2_SOC_INGENIC_T23N=y
BR2_SENSOR_1_NAME="sc2336p"
# shvflip seems to have no effect on sc2336 and sc2336p.
#BR2_SENSOR_PARAMS="shvflip=0"
BR2_PACKAGE_THINGINO_KOPT_I2C=y
BR2_PACKAGE_THINGINO_KOPT_I2C_BUS1=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
# 4-bit MMC sometimes hangs in U-Boot. Works fine on Linux.
#BR2_PACKAGE_THINGINO_UBOOT_BOARDNAME="isvp_t23n_sfcnor"
BR2_PACKAGE_THINGINO_UBOOT_BOARDNAME="isvp_t23n_sfcnor_mmc1bit"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_AUDIO_GPIO=7
BR2_THINGINO_AUDIO_GPIO_LOW=n
BR2_THINGINO_BUTTON=y
BR2_THINGINO_MOTORS=y
# PWM control is not working, no white/IR LED brightness adjustment.
#BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_MB=16
