CONFIG_BUILD_TARGET="u-boot.img"
CONFIG_RESTORE_EXCEPTION_VECTOR_BASE=y
CONFIG_SPL_T40_TINY_NAND_BOOT=y
CONFIG_SPL_MAX_SIZE=0x3c00
CONFIG_SPL_SIZE_LIMIT=0x3c00
CONFIG_SPL_BSS_START_ADDR=0x80004c00
CONFIG_SPL_BSS_MAX_SIZE=0x400
# CONFIG_SPL_SYS_MALLOC is not set
# CONFIG_SPL_DM is not set
# CONFIG_SPL_RAM is not set
# CONFIG_SPL_OF_CONTROL is not set
# CONFIG_SPL_OF_LIBFDT is not set
# CONFIG_SPL_LZMA is not set
# CONFIG_SPL_SERIAL is not set
