# NAME: Ezviz CS-MY3-3WHY (T31X, JXQ03, RTL8188FTV)
# MODULE: t31x_jxq03_rtl8188ftv
BR2_PACKAGE_THINGINO_KOPT=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V13=y
BR2_PACKAGE_THINGINO_KOPT_SPI1_PB2=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_DEVICE_TYPE_IPCAM=y
BR2_THINGINO_DEVICE_TYPE_IPCAM_PAN_TILT=y
BR2_THINGINO_MOTORS_TCU=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
