# NAME: Jooan F2T (T30X, SC4246, ETH)
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_ETHERNET=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V12=y
BR2_SENSOR_SC4236=y
BR2_SOC_INGENIC_T30X=y
BR2_ISP_CLK_150MHZ=y
BR2_ISP_ISP_M1_BUFS=y
BR2_ISP_ISP_M1_BUFS_VALUE=4
BR2_ISP_ISP_M2_BUFS=y
BR2_ISP_ISP_M2_BUFS_VALUE=2
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC1=y
BR2_PACKAGE_THINGINO_KOPT_MMC1_PC_4BIT=y
BR2_SENSOR_PARAMS="sensor_resolution=300"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_RMEM_42=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
