admin_name="Thingino Admin"
day_night_color="true"
day_night_ir850="true"
day_night_ir940="true"
day_night_ircut="true"
day_night_max="15000"
day_night_min="500"
day_night_white="false"
debug_enabled="false"
development_enabled="false"
enable_updates="true"
portal_device="wlan0"
rsyslog_local="false"
rsyslog_port="514"
streamer_disabled="false"
usb_console="false"
watchdog_device="/dev/watchdog"
watchdog_disable="false"
watchdog_timeout="60"
webui_level="user"
webui_theme="dark"
wireguard_enabled="false"
wlanap_enabled="false"
