# FRAG: soc toolchain ccache brand rootfs kernel system target
BR2_SOC_INGENIC_T31LC=y
BR2_SENSOR_MODEL="sc2336"
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6012B=y
BR2_PACKAGE_MOSQUITTO=y
BR2_PACKAGE_MOTORS=y
