@media (max-width: 575.98px) { body.debug:before { content: "xs" }}
@media (min-width: 576px) and (max-width: 767.98px) { body.debug:before { content: "sm"	}}
@media (min-width: 768px) and (max-width: 991.98px) { body.debug:before { content: "md" }}
@media (min-width: 992px) and (max-width: 1199.98px) { body.debug:before { content: "lg" }}
@media (min-width: 1200px) and (max-width: 1399.98px) { body.debug:before { content: "xl" }}
@media (min-width: 1400px) { body.debug:before { content: "xxl" }}

body.debug:before {
	color: #333;
	display:block;
	font-size:10rem;
	font-variant:all-small-caps;
	font-weight:700;
	line-height:1;
	position:fixed;
	right:3rem;
	bottom:3rem;
	z-index:-1;
}

#debug-button {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
}

#offcanvasDebug {
	--bs-offcanvas-width: 30vw;
	min-width: 40rem;
}

pre#output[data-cmd] { background-color: rgb(0, 0, 0); color: rgba(170, 170, 170, 0.8); }

.ansi-30 { color: rgba(0, 0, 0, 0.8); }
.ansi-31 { color: rgba(170, 0, 0, 0.8); }
.ansi-32 { color: rgba(0, 170, 0, 0.8); }
.ansi-33 { color: rgba(170, 85, 0, 0.8); }
.ansi-34 { color: rgba(0, 0, 170, 0.8); }
.ansi-35 { color: rgba(170, 0, 170, 0.8); }
.ansi-36 { color: rgba(0, 170, 170, 0.8); }
.ansi-37 { color: rgba(170, 170, 170, 0.8); }

.ansi-40 { background-color: rgba(0, 0, 0, 0.8); }
.ansi-41 { background-color: rgba(255, 0, 0, 0.8); }
.ansi-42 { background-color: rgba(0, 128, 0, 0.8); }
.ansi-43 { background-color: rgba(255, 255, 0, 0.8); }
.ansi-44 { background-color: rgba(0, 0, 255, 0.8); }
.ansi-45 { background-color: rgba(255, 0, 255, 0.8); }
.ansi-46 { background-color: rgba(0, 255, 255, 0.8); }
.ansi-47 { background-color: rgba(255, 255, 255, 0.8); }

.ansi-90 { color: rgb(0, 0, 0); font-weight: 700; }
.ansi-91 { color: rgb(255, 0, 0); font-weight: 700; }
.ansi-92 { color: rgb(0, 128, 0); font-weight: 700; }
.ansi-93 { color: rgb(255, 255, 0); font-weight: 700; }
.ansi-94 { color: rgb(0, 0, 255); font-weight: 700; }
.ansi-95 { color: rgb(255, 0, 255); font-weight: 700; }
.ansi-96 { color: rgb(0, 255, 255); font-weight: 700; }
.ansi-97 { color: rgb(255, 255, 255); font-weight: 700; }

.ansi-100 { background-color: rgb(0, 0, 0); }
.ansi-101 { background-color: rgb(255, 0, 0); }
.ansi-102 { background-color: rgb(0, 128, 0); }
.ansi-103 { background-color: rgb(255, 255, 0); }
.ansi-104 { background-color: rgb(0, 0, 255); }
.ansi-105 { background-color: rgb(255, 0, 255); }
.ansi-106 { background-color: rgb(0, 255, 255); }
.ansi-107 { background-color: rgb(255, 255, 255); }

