@media (max-width: 575.98px) {
	body:before {
		content: "xs"
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	body:before {
		content: "sm"
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	body:before {
		content: "md"
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	body:before {
		content: "lg"
	}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	body:before {
		content: "xl"
	}
}

@media (min-width: 1400px) {
	body:before {
		content: "xxl"
	}
}

@keyframes a1 {
	90%, 100% {
		flex-grow: 1;
	}
}

@keyframes blinker {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 1;
	}
}

body:before {
	color: #333;
	display: block;
	font-size: 3rem;
	font-variant: all-small-caps;
	font-weight: 700;
	line-height: 1;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: -1;
}

:root {
	--bs-font-sans-serif: "Montserrat", sans-serif;
}

.blink {
	color: red;
	animation: blinker 4s step-end infinite;
}

.btn {
	white-space: nowrap;
}

.card-body {
	position: relative;
}

.card-header .btn {
	--bs-btn-padding-y: 0.2rem;
	--bs-btn-padding-x: 0.4rem;
	--bs-btn-font-size: 0.75rem;
}

.cb {
	cursor: pointer;
	text-decoration-color: #f80;
	text-decoration-line: underline;
	text-underline-offset: 0.25em;
}

.container {
	display: block;
}

.col > h3 {
	color: var(--bs-secondary-color);
	font-size: 1.3rem;
	margin-bottom: 1.3rem;
}

.col .ex > h6 {
	font-weight: 500;
	color: var(--bs-tertiary-color);
}

.dropdown-item {
	font-size: 0.9rem;
}

.form-control:disabled,
.form-control::placeholder {
	color: var(--bs-tertiary-color);
}

.form-label {
	margin-bottom: 0.125rem;
}

.form-range {
	height: 2.375rem;
	padding: 0.1rem 0.375rem;
}

.hint {
	font-size: 0.875rem;
	margin-top: 0.2rem;
	margin-bottom: 0;
}

.icon {
	color: lightgray;
	max-width: 4rem;
}

.icon.off {
	filter: grayscale(1) contrast(100) brightness(1)
}

.icon-sm {
	max-width: 1.5rem;
}

.input-color {
	height: 2.4rem;
}

.input-group-text {
	font-size: 0.875rem;
	min-width: 3.1rem;
}

.input-group-text.switch {
	min-width: 2.5rem;
}

.gpio-ir850 .input-group-text:first-child {
	background-color: #a60000;
}

.gpio-ir940 .input-group-text:first-child {
	background-color: #750000;
}

.gpio-white .input-group-text:first-child {
	background-color: #eeeeee;
}

.link {
	color: #f80;
	cursor: pointer;
}

#daynight_interval {
	display: inline-block;
	margin: auto 0.25rem;
	max-width: 3rem;
}

#preview-wrapper button {
	visibility: hidden;
}

#preview-wrapper:hover button {
	visibility: visible;
}

.navbar-brand {
	padding: .5rem 0 0;
}

.navbar-nav .nav-link.active {
	font-weight: 400;
	color: #ff8800;
}

.plugin-enabled {
	border-left: 5px solid green;
	margin-left: -5px;
}

.preview canvas {
	width: 100%;
	height: auto;
}

.preview .btn {
	min-width: 2.5rem;
}

.progress-bar {
	background-color: gray;
	cursor: pointer;
}

.progress-bar:hover {
	background-color: #f80;
}

.progress-stacked {
	height: 5px;
	cursor: pointer;
}

.range-value {
	text-align: right;
}

.tab-pane {
	padding: 1rem 0;
}

.tab-title {
	margin-bottom: .75em;
}

.table.files td {
	font-family: monospace;
}

.table.files td a {
	text-decoration: none;
}

.table.files td:first-child,
.table.files th:first-child {
	width: auto;
}

.table.files td:not(:first-child),
.table.files th:not(:first-child) {
	text-align: right;
	width: 10em;
	white-space: nowrap;
}

.x-small {
	font-size: 0.8125rem;
}

body > main > .container > h2 {
	color: var(--bs-primary);
	margin: 2rem 0 1.5rem;
}

dt {
	font-weight: 500;
	color: var(--bs-light);
}

input[type="checkbox"], .form-check-label {
	cursor: pointer;
}

pre {
	background: var(--bs-secondary-bg);
	font-size: 0.8125rem;
	padding: 1rem;
}

pre.list b {
	display: inline-block;
	width: 8em;
}

textarea {
	font-family: var(--bs-font-monospace);
	text-wrap: auto;
}

textarea.nowrap {
	height: 50vh;
	white-space: pre;
}

#day_night_max-show,
#day_night_min-show {
	min-width: 5rem;
}

#debug-wrap {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	max-width: 3rem;
}

#editor_text {
	min-height: 20rem;
}

#frame {
	border: rgba(128, 128, 128, 0.5) 1px solid;
}

#page-texteditor .tab-pane {
	min-height: 60vh;
}

pre#output[data-cmd] {
	background-color: rgb(0, 0, 0);
	color: rgba(170, 170, 170, 0.8);
}

.gpio_led_r > .input-group > .switch { background: red; }
.gpio_led_g > .input-group > .switch { background: green; }
.gpio_led_b > .input-group > .switch { background: blue; }
.gpio_led_y > .input-group > .switch { background: yellow; }
.gpio_led_o > .input-group > .switch { background: orange; }
.gpio_led_w > .input-group > .switch { background: white; }

.gpio_ir850 > .input-group > .switch { background: violet; }
.gpio_ir940 > .input-group > .switch { background: darkviolet; }
.gpio_white > .input-group > .switch { background: white; }
