# NAME: Cinnado D1 3K (T41NQ, SC5336, ATBM6132U)
# FRAG: soc-xburst2 toolchain-xburst2 ccache brand rootfs kernel system target uboot ssl
BR2_SENSOR_SC5336=y
BR2_SOC_INGENIC_T41NQ=y
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_JZ_SFC=n
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_SFC0_NOR=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_ATBM6132U=y
FLASH_SIZE_16=y
FLASH_NOR=y
BR2_AVPU_APLL=y
BR2_AVPU_CLK_550MHZ=y
BR2_ISP_CLK_VPLL=y
BR2_ISP_CLK_300MHZ=y
BR2_ISP_CLKS_SCLKA=y
BR2_ISP_CLKS_550MHZ=y
BR2_ISP_CLKA_SCLKA=y
BR2_ISP_CLKA_550MHZ=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_RMEM_64=y
BR2_THINGINO_NMEM_8=y
