# NAME: Cinnado D1 3K (T41NQ, SC5336, ATBM6132U)
# MODULE: t41nq_sc5336_atbm6132u
FLASH_SIZE_16=y
FLASH_NOR=y
BR2_AVPU_APLL=y
BR2_AVPU_CLK_550MHZ=y
BR2_ISP_CLK_VPLL=y
BR2_ISP_CLK_300MHZ=y
BR2_ISP_CLKS_SCLKA=y
BR2_ISP_CLKS_550MHZ=y
BR2_ISP_CLKA_SCLKA=y
BR2_ISP_CLKA_550MHZ=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_RMEM_64=y
BR2_THINGINO_NMEM_8=y
