# NAME: Vanhua T55A (T41LQ, GC5603, ETH)
# FRAG: soc-xburst2 ccache brand rootfs kernel system target uboot ssl
BR2_THINGINO_TOOLCHAIN_TYPE_EXTERNAL=y
BR2_THINGINO_TOOLCHAIN_GCC_15=y
BR2_THINGINO_TOOLCHAIN_LIBC_MUSL=y
BR2_ETHERNET=y
BR2_SENSOR_GC4023=y
BR2_SENSOR_1_NAME=gc4023
BR2_INGENIC_SOC_MODEL="t41lq"
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_JZ_SFC=n
BR2_PACKAGE_THINGINO_UBOOT_FLASH_CONTROLLER_SFC0_NOR=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_RMEM_MB=22
BR2_THINGINO_NMEM_MB=8
FLASH_SIZE_MB=16
BR2_PACKAGE_THINGINO_UBOOT_SD_ENABLE=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS=y
BR2_LINUX_KERNEL_EXT_THINGINO_KOPT_DTS_IGETC5PT=y

BR2_PACKAGE_THINGINO_UBOOT_PHY_RESET_AFTER_CONFIG=y
BR2_PACKAGE_THINGINO_UBOOT_GPIO_PHY_RESET=60
BR2_PACKAGE_THINGINO_UBOOT_CUSTOM_DTS_PATH=$(BR2_EXTERNAL_THINGINO_PATH)/board/ingenic/dts/iget_c5pt_t41lq.dts
BR2_PACKAGE_THINGINO_UBOOT_CUSTOM_GIT=y
BR2_PACKAGE_THINGINO_UBOOT_CUSTOM_REPO_URL=https://github.com/LukasMojzis/ingenic-u-boot-xburst2
