# NAME: TP-LINK TAPO C200 v5 (T23N, SC2336P, RTL8188FTV)
# MODULE: t23n_sc2336p_rtl8188ftv
BR2_PACKAGE_THINGINO_KOPT=y
BR2_PACKAGE_THINGINO_KOPT_MMC=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_SENSOR_PARAMS="data_interface=1 shvflip=1"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
#BR2_THINGINO_MOTORS=y
BR2_THINGINO_SDCARD=y
