# NAME: Xiaomi MJSXJ03HL (T31N, JXQ03, RTL8189FTV)
# MODULE: t31n_jxq03_rtl8189ftv
BR2_AVPU_VPLL=y
BR2_PACKAGE_THINGINO_KOPT_DWC2=y
BR2_PACKAGE_THINGINO_KOPT_DWC2_OTG=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_PACKAGE_THINGINO_KOPT_MMC1=y
BR2_PACKAGE_THINGINO_KOPT_MMC1_PB_4BIT=y
BR2_PACKAGE_THINGINO_UBOOT_BOARDNAME="isvp_t31_xiaomi_sfcnor"
BR2_PACKAGE_THINGINO_UBOOT_FORMAT_CUSTOM_NAME="u-boot-with-spl.bin"
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_RMEM_32=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
