# NAME: ieGeek SC1 (T23N, CV2003, ATBM6132U)
# MODULE: t23n_cv2003_atbm6132u
BR2_THINGINO_AUDIO=y
BR2_THINGINO_BUTTON=y
BR2_THINGINO_FLASH_NOR=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_PWM_ENABLE=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_8=y
