# NAME: TPTEK WOR504JCH (T31X, GC4653, ETH, RTL8731)
# FRAG: soc-xburst1 toolchain-xburst1 ccache brand rootfs kernel system target uboot ssl
BR2_ETHERNET=y
BR2_PACKAGE_THINGINO_KOPT_JZ_MAC_V13=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_WIFI_RTL8733BU=y
BR2_SENSOR_GC4653=y
BR2_SOC_INGENIC_T31X=y
BR2_AVPU_CLK_486MHZ=y
BR2_AVPU_VPLL=y
BR2_ISP_CLK_250MHZ=y
BR2_ISP_DAY_NIGHT_SWITCH_DROP_FRAME_NUM=y
BR2_ISP_DAY_NIGHT_SWITCH_DROP_FRAME_NUM_VALUE=1
BR2_PACKAGE_THINGINO_KOPT_ADC=y
BR2_PACKAGE_THINGINO_KOPT_MMC0=y
BR2_PACKAGE_THINGINO_KOPT_MMC0_PB_4BIT=y
BR2_THINGINO_AUDIO=y
BR2_THINGINO_MOTORS=y
BR2_THINGINO_RMEM_64=y
BR2_THINGINO_SDCARD=y
FLASH_SIZE_16=y
